<h1>Rules</h1>

<% make_hex = "<div class='hex'>
                <div class='top'></div>
                <div class='square'></div>
                <div class='bottom'></div>
               </div>" %>

<body>
<div class="board">
  <section class="clearfix">
    <article class="full_column">

      <div class="hex_grid">
        <div class="hex_row">
          <%= make_hex %>
          <%= make_hex %>

        </div>
        <div class="hex_row_even">
          <%= make_hex %>
          <%= make_hex %>
          <%= make_hex %>

        </div>
        <div class="hex_row">
          <%= make_hex %>
          <%= make_hex %>
        </div>
      </div>


    </article>
  </section>
</div>

